* {
  margin: 0 auto;
  background-color: #cedacc;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #92bbe9;
}
p {
  text-align: center;
  margin-bottom: 30px;
  font-size: larger;
}

li {
  list-style-type: none;
  text-align: center;
  font-size: larger;
}
a {
  color: #000;
}
li a:hover {
  color: #92bbe9;
}

img {
  max-width: 300px;
  height: 200px;
  margin-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
/* .grid-child {
  flex: 1;
} */
.back {
  text-align: center;
  font-size: 25px;
}
.back a:hover {
  color: white;
}
